* {
	margin: 0;
	padding: 0;
}

.main-wrapper {
	position: relative;
	width: 100svw;
	height: 100svh;
	background: #9d9a9a;
	display: flex;
	flex-direction: column;
	align-items: center;

	* {
		margin-top: 3rem;
	}

	input {
		height: 3rem;
		width: min(80%, 19rem);
	}

	.ready {
		color: red;
		&.active {
			color: green;
		}
	}

	.coord {
		font-weight: 700;
		font-size: 1.1rem;
		color: black;
		margin-left: 1rem;
	}

	select {
		margin-top: 1rem;
	}

	.next-btn {
		width: 80%;
		height: 30rem;
		cursor: pointer;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		background: #222;
		border-radius: 2rem;
		color: whitesmoke;
		text-decoration: none;
	}
}
