@use "variables" as *;

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 500;
}

body {
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 0.4rem;

	&-thumb {
		background: #8b8b8b;
	}
}

.main-wrapper {
	position: relative;
	width: 100svw;
	height: 100svh;
	background: $light3;
	display: flex;
	flex-direction: column;
	align-items: center;

	> * {
		margin-top: 3rem;
	}

	input {
		width: min(70%, 19rem);
		height: 2rem;
		border-radius: 1rem;
		border: 1px solid $light2;
	}

	.ready {
		color: $warn;
		&.active {
			color: green;
		}
	}

	.coord {
		font-weight: 700;
		font-size: 1.1rem;
		color: black;
		margin-left: 1rem;
	}

	select {
		width: 10.5rem;
		height: 2rem;
		text-align: center;

		&.presets {
			margin-top: 1rem;
		}
	}

	.next-btn {
		width: 80%;
		height: 30rem;
		cursor: pointer;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		background: $light1;
		border-radius: 2rem;
		color: white;
		text-decoration: none;
		border: none;
	}

	.copy-btn {
		width: 2rem;
		height: 1.6rem;
		margin-top: 0;
		padding-inline: 2rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}
